.Imagen-Pasiva {
  background-image: url("https://habitue-img.s3.sa-east-1.amazonaws.com/imagenes/1645475204.Banner%20%E2%80%93%207.png");
  height: 400px;
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagenpasivaimg {
  width: 250px;
  padding-top: 10px;
}
.pequeñodiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  width: 27%;
  height: 65%;
  background-color: white;
  color: #7ed321;
}
.butHorarios {
  display: flex;
  justify-content: center;
  background-color: #6c8454;
  border-radius: 25px;
  color: white;
  padding: 8px;
  width: 100px;
  text-decoration: none;
}
.butHorarios:hover {
  color: black;
}
.listadelivery {
  font-weight: 700;
}
