.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 450px;
  height: 350px;
  border-radius: 20px;
}
.modal {
  position: fixed;
  text-align: center;
  z-index: 2;
  overflow: auto;
}
.close {
  color: #000;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin: 0 15px;
}
.close:hover,
.close:focus {
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}
.imagenSend {
  width: 120px;
  height: 120px;
  display: flex;
}

.Horarios-pasiva {
  font-size: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: green;
}
h1 {
  margin: 0;
}
.close {
  float: right;
}
